# .gitignore file

# Python environment
__pycache__/
__pypackages__/
*.py[cod]
*.pyo
*.pyd

# Python Virtual Environment
venv/
pyenv/
.python-version

# Poetry
__pypoetry__/
poetry.lock

# PostgreSQL
*.sql

# Environment variables
.env.secret    # Contains sensitive API keys and secrets
.env.local     # Contains local development overrides
.env.production # Contains production settings
.env.staging   # Contains staging settings

# Editor-specific files
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.pyc

# Dependency directories
env/
lib/
libs/

# Other