# .gitignore file

# Python environment
__pycache__/
__pypackages__/
*.py[cod]
*.pyo
*.pyd

# Python Virtual Environment
venv/
pyenv/
.python-version

# Poetry
__pypoetry__/
poetry.lock

# PostgreSQL
*.sql

# .env file (contains sensitive information)
.env
.env.secret
.env.shared

# Editor-specific files
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.pyc

# Dependency directories
env/
lib/
libs/

# Other